# Gradle
.gradle/
build/
out/

# Java
*.class
*.jar
*.war

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Local env
.env
.env.*

# H2 database
*.mv.db
*.trace.db

# Sensitive data
src/main/resources/users40.json
src/main/resources/users.json

# Optional local configs
application-local.properties
application-local.yml